.font-10{font-size: 10px}
.font-12{font-size: 12px}
.font-13{font-size: 13px}
.font-14{font-size: 14px}
.font-16{font-size: 16px}
.font-18{font-size: 18px}
.text-999{color: #999}
.text-bbb{color: #bbb}

.line-ellipsis{
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

header{
  .van-field__control,.van-field__control::placeholder{
    color:white;
  }
}
.mall header{
  .van-field__control,.van-field__control::placeholder{
    font-weight: bold;
    letter-spacing:8px
  }
}

.home .banner{
  margin-top:-5.2rem;
  .van-swipe__indicators{
    left: 90% !important;
    bottom: 11%;
  }
}

